<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ site.url }}">{{ site.title }}</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3 logos">
        {% comment %}
        The HTTPS LHCb link usually gives an warning/error as the CERN CA is
        not trusted by most browsers.
        The HTTPS CERN link redirects to the login page.
        So, use HTTP for both.
        {% endcomment %}
        <a href="http://lhcb.cern.ch"><img class="logo logo--lhcb" src="img/logo-lhcb@2x.png"></a>
        <a href="http://home.cern"><img class="logo logo--cern" src="img/logo-cern@2x.png"></a>
      </div>
    </div>

  </div>

</footer>
