.media {
  display: flex;
  align-items: flex-start;

  & > *:first-child {
  }

  & > *:nth-child(2) {
    flex: 1;
    padding: 0 10px;
  }
}

.media--center {
  align-items: center;
}

.site-header {
  padding: 70px 0;

  background: #2a5b92;
  background: -moz-linear-gradient(left, #2a5b92 0%, #b5dbea 100%);
  background: -webkit-linear-gradient(left, #2a5b92 0%, #b5dbea 100%);
  background: linear-gradient(to right, #2a5b92 0%, #b5dbea 100%);

  h1 {
    margin: 0;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    line-height: 56px;
    letter-spacing: -1px;
    a:hover {
      text-decoration: none;
    }
  }

  a {
    color: white;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;

    a {
      padding: 0 5px;
    }
  }
}

.statement {
  margin: 20px 0;
  h2 {
    font-size: 0.9em;
    font-weight: bold;
  }
  img {
    width: 100px;
  }
}

@media only screen and (min-device-width : 480px) {
  .statement {
    h2 {
      font-size: 1em;
      font-weight: normal;
    }
    img {
      width: 150px;
    }
  }
}

.columns > div {
  padding: 20px 0;
}

// Side-by-side columns for wide devices
@media only screen and (min-device-width : 480px) {
  .columns > div {
    display: flex;
    & > div {
      width: 50%;
    }
  }
}

.columns .icon {
  height: 1.5em;
  width: 1.5em;
  font-size: 1.5em;
  color: white;
  background: black;
  background: #2a5b91;
  text-align: center;
  border-radius: 100px;
}

.home h1 {
  text-align: center;
  border-bottom: 1px solid #eee;
}

// Append icons for external links and mailtos
.home, .post {
  a[href*="//"]:not([href*="lhcb.github.io/starterkit"]) {
    &:after {
      content: '\f1fe';
      font-family: 'Ionicons';
      font-size: 0.8em;
      margin-left: 3px;
    }
  }
  a[href*="mailto:"] {
    &:after {
      content: '\f2c3';
      font-family: 'Ionicons';
      font-size: 0.8em;
      margin-left: 3px;
    }
  }
}


article {
  padding-top: 10px;
}


.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    .icon {
      margin-right: 5px;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-3.logos {
  display: flex;
  justify-content: space-around;

  .logo--cern {
    // The CERN logo guidelines state that the width must be no less than 60px
    // We don't need it any wider, so use 60px
    max-width: 60px;
  }
  .logo--lhcb {
    // The CERN logo is square, and we set a width of 60px, and therefore a
    // 60px height. Give the LHCb logo the same height so they like nice
    // side-by-side
    max-height: 60px;
  }
}

@media only screen and (min-device-width : 480px) {
  .footer-col-3.logos {
    justify-content: flex-end;
    .logo {
      margin: 0 $spacing-unit;
    }
    .logo:last-child {
      margin-right: 0;
    }
  }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
